[submodule "LING 539 Statistical Natural Language Processing/kaggle-classification-project"]
	path = LING 539 Statistical Natural Language Processing/kaggle-classification-project
	url = https://github.com/uazhlt-ms-program/grad-level-term-project-kaggle-competition-lldavoll.git
